/* You can add global styles to this file, and also import other style files */
/* iHela Official Styles v0.0.2 */

@import './scss/variables';

@import './node_modules/bulma/bulma';
@import './node_modules/bulma-extensions/bulma-switch/src/sass/index';
@import './node_modules/bulma-extensions/bulma-tooltip/src/sass/index';
@import './node_modules/bulma-extensions/bulma-calendar/src/sass/index';
@import './node_modules/bulma-extensions/bulma-divider/src/sass/index';
@import './node_modules/bulma-extensions/bulma-tooltip/src/sass/index';
@import './node_modules/bulma-extensions/bulma-timeline/src/sass/index';
@import './node_modules/bulma-extensions/bulma-quickview/src/sass/index';
@import './node_modules/bulma-extensions/bulma-carousel/src/sass/index';

@import './node_modules/@wizishop/ng-wizi-bulma/ng-wizi-bulma';

@import './scss/ihela/all';

/* override styles when printing */
.print-only {
  display: none;
}

@media print {
  @page {
    size: letter portrait;
    margin: 0.5cm;
  }

  // @page {
  //   size: portrait;
  //   margin: 0.5cm;
  // }

  @page:first {
    margin-top: 1cm;
  }

  *,
  .is-size-7 {
    font-size: 0.5rem;
  }

  .title.is-6 {
    font-size: 0.5rem;
  }

  .subtitle.is-6 {
    font-size: 0.5rem;
  }

  .tag:not(body),
  .badge:not(body) {
    font-size: 0.3rem;
    height: 1em;
    line-height: 0.8;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  .print-only {
    display: inline-block;
  }

  .print-hide {
    display: none;
  }

  .print-small {
    font-size: 0.5rem;
  }
}

