.ng-autocomplete {
  width: 100% !important;

  input {
    @extend .input;
  }
}

.autocomplete-container {
  box-shadow: none !important;

  .input-container input {
    @extend .input;
    background-color: $input-background-color !important;
  }
}

.autocomplete-container {
  box-shadow: none !important;
}

.datetimepicker-dummy .datetimepicker-dummy-wrapper {
  background-color: $input-background-color !important;
  border: none;
  border-radius: $input-radius;
  // @extend .input;
}

.ng-valid.ng-touched {
  @extend .is-success;
}

.ng-invalid:not(form).ng-touched {
  @extend .is-primary;
}

fieldset.fieldset {
  @extend .has-background-white-bis;
  @extend .is-rounded;
  @extend .has-p-small;
  @extend .has-mb-small;

  legend {
    @extend .has-background-white;
    @extend .has-p-small;
    @extend .is-rounded;
    @extend .title;
    @extend .is-marginless;
    @extend .is-6;
  }
}
