.account-custom-button{
  @extend .is-hoverable-bis;
  @extend .has-mb-small;
  @extend .is-rounded;
  @extend .has-shadow;
  @extend .has-p-small;
  @extend .is-size-7 !optional;
  // border-top: 1px solid $input-background-color;
  // border-bottom: 1px solid $input-background-color;
  // border-right: 1px solid $input-background-color;

  &.is-active{
    @extend .is-paddingless;
  }

  &.is-active, & > .is-active{
    @extend .has-background-white-ter;
    @extend .is-rounded;
    @extend .has-pl-small;
    font-size: .7rem;

    .has-amount {
      @extend .has-background-white-ter;
    }
  }

  .has-amount {
    @extend .has-background-white;
    @extend .has-mb-small;
  }
}


.account-details {
  b, span, small {
    padding-top: 0;
    padding-bottom: 5px;
    @extend .is-size-7 !optional;
    // @extend .is-paddingless;
    // @extend .is-marginless;
  }
}
